{% extends "myapp/base.html" %}
<title>{% block title %} {{ block.super }} Home  {% endblock title %}</title>

{% block content %}

    <table>
        <h3>All user data</h3>
        <th>Id</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        {% for u1 in d1 %}
            <tr>   
                <td>{{u1.id}}</td>
                <td>{{u1.username}}</td>
                <td>{{u1.first_name}}</td>
                <td>{{u1.last_name}}</td>
                <td>{{u1.email}}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <h3>User data filtered by page_category</h3>
        <th>Id</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        {% for u1 in d2 %}
            <tr>   
                <td>{{u1.id}}</td>
                <td>{{u1.username}}</td>
                <td>{{u1.first_name}}</td>
                <td>{{u1.last_name}}</td>
                <td>{{u1.email}}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <h3>User data filtered by song_duration</h3>
        <th>Id</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        {% for u1 in d3 %}
            <tr>   
                <td>{{u1.id}}</td>
                <td>{{u1.username}}</td>
                <td>{{u1.first_name}}</td>
                <td>{{u1.last_name}}</td>
                <td>{{u1.email}}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <h3>User data filtered by post_publish_date</h3>
        <th>Id</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        {% for u1 in d4 %}
            <tr>   
                <td>{{u1.id}}</td>
                <td>{{u1.username}}</td>
                <td>{{u1.first_name}}</td>
                <td>{{u1.last_name}}</td>
                <td>{{u1.email}}</td>
            </tr>
        {% endfor %}
    </table>

    <table>
        <h3>User data filtered by email</h3>
        <th>Id</th>
        <th>Username</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        {% for u1 in d5 %}
            <tr>   
                <td>{{u1.id}}</td>
                <td>{{u1.username}}</td>
                <td>{{u1.first_name}}</td>
                <td>{{u1.last_name}}</td>
                <td>{{u1.email}}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock content %}